html {
    width: 1106px;
    margin: 2px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;


}

#sc1 {

    width: 32px;
    height: 30px;
}

.logo-name {
    width: 143px;
    height: 31px;

    font-family: "Ink Free";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: black;
}

#user {
    width: 22px;
    height: 22px;
}

#sc2 {
    width: 25px;
    height: 21px;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.main-nav a {
    color: #C4C4C4;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: black;
}

.account {
    display: flex;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
}

.navigation {

    width: 409px;
    height: 985px;
    left: 0px;
    top: 184px;

    background: #EBF7FA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pri-nav ul {

    list-style: none;

}

.pri-nav a {
    text-decoration: none;
    width: 149px;
    height: 35px;
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: black;
}

.pri-nav a:hover {
    color: #53BFF5;
}

.overview {
    position: absolute;
    left: 28px;
    top: 302px;
}

.orders {
    position: absolute;
    left: 28px;
    top: 411px;
}

.feedback {
    position: absolute;
    left: 28px;
    top: 519px;
}

.ship {
    position: absolute;
    left: 28px;
    top: 628px;
}

.return {
    position: absolute;
    left: 28px;
    top: 736px;
}

.setting {
    position: absolute;
    left: 28px;
    top: 845px;
}

.help {
    position: absolute;
    left: 28px;
    top: 953px;
}
.heada{
    position: absolute;
        width: 625px;
        height: 136px;
        left: 447px;
        top: 184px;
    
        background: #F2FAFC;


}
.fshop{
    font-family: 'Lucida Bright';
        font-style: normal;
        font-weight: 600;
        font-size: 44px;
        line-height: 52px;
        /* identical to box height */
    
        display: flex;
        align-items: center;
        position: relative;
        top: 30%;
        left: 20px;
    
        color: #000000;
}
.container {
    display: flex;
    position: relative;
        left: 426px;
        top: -806px;
        overflow: hidden;
}

.product-img {
    width: 145px;
    height: 202px;

    background: #EBF7FA;
    border-radius: 20px;
}
.i1{
    background: #C4C4C4;
    border-radius: 0px;
}

.container>* {
    margin: 5px;
}

.product-name {
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    margin-top: 10px;
    margin-left: 4px;
    color: #000000;
}

.product-price {
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin: 4px;
    color: #000000;
}

.main-footer {
    position: absolute;
    width: 1106px;
    height: 332px;
    left: 0px;
    top: 1235px;
    overflow: hidden;

    background: #C6F5DE;
    display: flex;

}

.logoname {
    font-family: 'Ink Free';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 69px;

    color: #000000;
}

.footer-cart {
    width: 51px;
    height: 50px;
}

.footer-logo {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.info {
    position: absolute;
    width: 326px;
    height: 161px;
    left: 25px;
    top: 82px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #949191;
}

.contact-us {
    position: absolute;
    width: 172px;
    height: 38px;
    left: 467px;
    top: 48px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.number {
    position: absolute;
    width: 437px;
    height: 141px;
    left: 467px;
    top: 117px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.waromaemail {
    position: absolute;
    width: 283px;
    height: 35px;
    left: 467px;
    top: 177px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.location {
    position: absolute;
    width: 307px;
    height: 102px;
    left: 467px;
    top: 236px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.About {
    position: absolute;
    width: 355px;
    height: 93px;
    left: 900px;
    top: 48px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}

.faq {
    position: absolute;
    width: 46px;
    height: 26px;
    left: 900px;
    top: 117px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #000000;
}

.support {
    position: absolute;
    width: 86px;
    height: 26px;
    left: 900px;
    top: 177px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;


    color: #000000;
}

.pp {
    position: absolute;
    width: 186px;
    height: 26px;
    left: 900px;
    top: 236px;

    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;


    color: #000000;
}

body {
    width: 1106px;
}